@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html,
body {
  font-family: 'Lato', sans-serif;
  @apply text-black font-normal bg-white;
}

a {
  position: relative;
  overflow: hidden;
  display: block;
}

a::after {
  position: absolute;
  transition: left 0.3s ease;
  content: '';
  width: 100%;
  height: 3px;
  left: -100%;
  bottom: 0;
  @apply bg-yellow-500;
}

.text-green a::after {
  @apply bg-green;
}

.group:hover a::after,
a:active:after,
a.nav-active:after,
a:hover:after {
  left: 0;
}

h1 {
  @apply text-xl font-bold;
  @apply mb-sm !important;
}

h2 {
  @apply text-lg font-bold;
}

h3 {
  @apply text-md font-bold;
}

h4 {
  @apply text-base font-bold;
}

h5 {
  @apply text-base font-bold;
}

h6 {
  @apply text-base font-bold;
}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  @apply mb-0 !important;
}

.postbody a {
  @apply text-yellow-500;
  display: inline-flex;
}

.green-links a {
  @apply text-green;
}

.green-links a::after {
  @apply bg-green;
}

.green-links-after a::after {
  @apply bg-green;
}

.postbody p {
  @apply my-sm;
}
