@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html,
body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: black;
  font-weight: 200;
  height: 100%;
}

a {
  /* color: black; */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}
